@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-main-text {
  font-size: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  margin: auto;
  margin-top: 12rem;
  margin-bottom: 2rem;
  padding: 1rem 2.4rem;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.hero-main-text-highlight {
  color: rgb(156, 220, 255);
}

.hero-section {
  width: 100%;
  height: 40rem;
  background-image: url('../public/images/hero-bg.svg');
  background-size: cover;
}
