@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* fix make navbar items centered */
nav header,
nav header ul {
  display: flex;
  justify-content: center !important;
}

.hero-section {
  display: flex;
  align-items: center;
  height: 40rem;
}

.hero-main-text {
  border: 1px solid rgb(29, 29, 29, 0.5);
  padding: 2rem;
  width: 35rem;
  border-radius: 0.75rem;
}

.highlighted-project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38rem;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(29, 29, 29, 0.5);
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 28rem;
  margin-bottom: 4rem;
  border-radius: 0.75rem;
  box-shadow: rgba(71, 74, 78, 0.2) 0px 8px 24px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(29, 29, 29, 0.5);
  height: 6rem;
}
